{% extends 'base.html.twig' %}

{% block content %}
      <div class="row">
        <div class="col-sm-12 col-lg-4 col-md-offset-4">
          <div class="well no-padding">
            <form action="{{ path('_security_resetPassword') }}" method="post" id="login-form" class="smart-form client-form">
              <header>
                Reset Password
              </header>
              <fieldset>      

                {% if success %}
                    <div class="alert alert-success">{{ success }}</div>
                {% endif %}

                {% if error %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endif %}



                <section style="display:none;">
                  <label class="label">New Password</label>
                  <label class="input"> <i class="icon-append fa fa-lock"></i>
                    <input type="password" name="_token" value="{{token}}">
                    <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Enter your password</b> </label>
                </section>

                <section>
                  <label class="label">New Password</label>
                  <label class="input"> <i class="icon-append fa fa-lock"></i>
                    <input type="password" name="_password">
                    <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Enter your password</b> </label>
                </section>

                <section>
                  <label class="label">Repeat Password</label>
                  <label class="input"> <i class="icon-append fa fa-lock"></i>
                    <input type="password" name="_repeatPassword">
                    <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Enter your password</b> </label>
                </section>

              </fieldset>
              <footer>
                <button type="submit" class="btn btn-primary">
                  Submit
                </button>
              </footer>
            </form>

          </div>

        </div>
    </div>



{% endblock %}



